@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600);.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

/*
@font-face {
  font-family: "Avenir Custom";
  font-weight: normal;
  font-style: normal;
  src: url("/static/fonts/Avenir LT 45 Book.ttf") format("ttf");
}

@font-face {
  font-family: "Avenir Custom";
  font-weight: normal;
  font-style: italic;
  src: url("/static/fonts/Avenir LT 45 Book Oblique.ttf") format("ttf");
}

@font-face {
  font-family: "Avenir Custom";
  font-weight: bold;
  font-style: normal;
  src: url("/static/fonts/Avenir LT 65 Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Avenir Custom";
  font-weight: bold;
  font-style: italic;
  src: url("/static/fonts/Avenir LT 65 Medium Oblique.ttf") format("ttf");
}
*/

body {
  overflow-x: hidden;
}

a.link.link--small {
  font-size: .9rem;
}

.top-bar {
  background: none;
  border-bottom: 1px solid #d0d0d0;
  padding: 1em;
}

.top-bar-right {
  width: 20%;
}

div.top-bar__title {
  background: #F27155;
  color: #fff;
  height: 2em;
  width: 2em;
  padding: .25rem;
  font-weight: bold;
}

.has-tip.has-tip--no-underline {
  border-bottom: none;
  cursor: pointer;
}

ul.menu {
  border: none;
}

.dropdown-menu__element {
  border: 1px solid #d0d0d0;
  background: #fff;
}

.footer {
  border-top: 1px solid #d0d0d0;
  padding: 1em;
}

.footer__content--text {
  font-size: .8rem;
}

.margin-top-0 {
  margin-top: 0em !important;
}

.padding-top-0 {
  padding-top: 0em !important;
}

.margin-bottom-0 {
  margin-bottom: 0em !important;
}

.padding-bottom-0 {
  padding-bottom: 0em !important;
}

.margin-left-0 {
  margin-left: 0em !important;
}

.padding-left-0 {
  padding-left: 0em !important;
}

.margin-right-0 {
  margin-right: 0em !important;
}

.padding-right-0 {
  padding-right: 0em !important;
}

.margin-top-1 {
  margin-top: 1em !important;
}

.padding-top-1 {
  padding-top: 1em !important;
}

.margin-bottom-1 {
  margin-bottom: 1em !important;
}

.padding-bottom-1 {
  padding-bottom: 1em !important;
}

.margin-left-1 {
  margin-left: 1em !important;
}

.padding-left-1 {
  padding-left: 1em !important;
}

.margin-right-1 {
  margin-right: 1em !important;
}

.padding-right-1 {
  padding-right: 1em !important;
}

.margin-top-2 {
  margin-top: 2em !important;
}

.padding-top-2 {
  padding-top: 2em !important;
}

.margin-bottom-2 {
  margin-bottom: 2em !important;
}

.padding-bottom-2 {
  padding-bottom: 2em !important;
}

.margin-left-2 {
  margin-left: 2em !important;
}

.padding-left-2 {
  padding-left: 2em !important;
}

.margin-right-2 {
  margin-right: 2em !important;
}

.padding-right-2 {
  padding-right: 2em !important;
}

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.grid-y__center {
  padding: 1em 20%;
}

@media (max-width: 640px) {
  .grid-y__center {
    padding: 1em;
  }
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.small {
  font-size: 0.875rem;
}

.background-none {
  background: none !important;
}

.main {
  padding: 1em;
  height: 80vh;
}

.main .main__cell {
  height: 100%;
}

.main .main__content {
  font-weight: bold;
}

.main .main__content--subhead {
  font-weight: normal;
}

div.grid-x.index {
  height: 100%;
}

#app {
  height: 100%;
}

.dashboard {
  height: 100%;
}

.courses {
  height: 100%;
}

.courses__header {
  margin-bottom: 1em;
}

div.courses__container {
  height: 80%;
  overflow: scroll;
  margin-bottom: auto;
}

div.course {
  border: 1px solid #d0d0d0;
  padding: .5rem;
  margin-bottom: .5em;
}

div.course:hover {
  border: 1px solid #a0a0a0;
  cursor: pointer;
}

.course__details span {
  font-size: .8rem;
}

i.course__icon {
  color: #a0a0a0;
  margin-right: .5em;
}

.course__text.course__text--name {
  font-weight: bold;
}

.course__text.course__text--meta {
  font-size: .75rem;
}

.course__form--new_course {
  background: #F27155;
  color: #fff;
  margin-top: auto;
  padding: .5em;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.course__form--new_course i {
  margin-right: .5em;
}

.course__form--new_course:hover {
  background: #ee4926;
  cursor: pointer;
}

.content {
  border: 1px solid #d0d0d0;
  margin-left: 1em;
  padding: .5em;
}

