.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

body {
  overflow-x: hidden;
}

a.link.link--small {
  font-size: .9rem;
}

.top-bar {
  background: none;
  border-bottom: 1px solid #d0d0d0;
  padding: 1em;
}

.top-bar-right {
  width: 20%;
}

div.top-bar__title {
  background: #F27155;
  color: #fff;
  height: 2em;
  width: 2em;
  padding: .25rem;
  font-weight: bold;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

div.top-bar__title:hover {
  background: #ee4926;
}

.has-tip.has-tip--no-underline {
  border-bottom: none;
  cursor: pointer;
}

ul.menu {
  border: none;
}

.dropdown-menu__element {
  border: 1px solid #d0d0d0;
  background: #fff;
}

.footer {
  border-top: 1px solid #d0d0d0;
  padding: 1em;
}

.footer__content--text {
  font-size: .8rem;
}

.margin-top-0 {
  margin-top: 0em !important;
}

.padding-top-0 {
  padding-top: 0em !important;
}

.margin-bottom-0 {
  margin-bottom: 0em !important;
}

.padding-bottom-0 {
  padding-bottom: 0em !important;
}

.margin-left-0 {
  margin-left: 0em !important;
}

.padding-left-0 {
  padding-left: 0em !important;
}

.margin-right-0 {
  margin-right: 0em !important;
}

.padding-right-0 {
  padding-right: 0em !important;
}

.margin-top-1 {
  margin-top: 1em !important;
}

.padding-top-1 {
  padding-top: 1em !important;
}

.margin-bottom-1 {
  margin-bottom: 1em !important;
}

.padding-bottom-1 {
  padding-bottom: 1em !important;
}

.margin-left-1 {
  margin-left: 1em !important;
}

.padding-left-1 {
  padding-left: 1em !important;
}

.margin-right-1 {
  margin-right: 1em !important;
}

.padding-right-1 {
  padding-right: 1em !important;
}

.margin-top-2 {
  margin-top: 2em !important;
}

.padding-top-2 {
  padding-top: 2em !important;
}

.margin-bottom-2 {
  margin-bottom: 2em !important;
}

.padding-bottom-2 {
  padding-bottom: 2em !important;
}

.margin-left-2 {
  margin-left: 2em !important;
}

.padding-left-2 {
  padding-left: 2em !important;
}

.margin-right-2 {
  margin-right: 2em !important;
}

.padding-right-2 {
  padding-right: 2em !important;
}

.margin-top-50 {
  margin-top: 0.5em !important;
}

.margin-bottom-50 {
  margin-bottom: 0.5em !important;
}

.margin-left-50 {
  margin-left: 0.5em !important;
}

.margin-right-50 {
  margin-right: 0.5em !important;
}

.margin-top-75 {
  margin-top: 0.75em !important;
}

.margin-bottom-75 {
  margin-bottom: 0.75em !important;
}

.margin-left-75 {
  margin-left: 0.75em !important;
}

.margin-right-75 {
  margin-right: 0.75em !important;
}

.margin-top-auto {
  margin-top: auto !important;
}

.margin-bottom-auto {
  margin-bottom: auto !important;
}

.margin-left-auto {
  margin-left: auto !important;
}

.margin-right-auto {
  margin-right: auto !important;
}

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.grid-y__center {
  padding: 1em 20%;
}

@media (max-width: 640px) {
  .grid-y__center {
    padding: 1em;
  }
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.small {
  font-size: 0.875rem;
}

.background-none {
  background: none !important;
}

.color-theme-primary {
  color: #F27155;
}

.animation-delay-500 {
  -webkit-animation-delay: 0.05s !important;
          animation-delay: 0.05s !important;
}

.animation-delay-750 {
  -webkit-animation-delay: 0.075s !important;
          animation-delay: 0.075s !important;
}

.animation-delay-10 {
  -webkit-animation-delay: 0.1s !important;
          animation-delay: 0.1s !important;
}

.animation-delay-15 {
  -webkit-animation-delay: 0.15s !important;
          animation-delay: 0.15s !important;
}

.animation-delay-25 {
  -webkit-animation-delay: 0.25s !important;
          animation-delay: 0.25s !important;
}

.animation-delay-33 {
  -webkit-animation-delay: 0.33s !important;
          animation-delay: 0.33s !important;
}

.animation-delay-50 {
  -webkit-animation-delay: 0.5s !important;
          animation-delay: 0.5s !important;
}

.animation-delay-60 {
  -webkit-animation-delay: 0.66s !important;
          animation-delay: 0.66s !important;
}

.animation-delay-75 {
  -webkit-animation-delay: 0.75s !important;
          animation-delay: 0.75s !important;
}

.animation-delay-1 {
  -webkit-animation-delay: 1s !important;
          animation-delay: 1s !important;
}

.main {
  padding: 1em;
  min-height: 80vh;
}

.main .main__cell {
  height: 100%;
}

.main .main__content {
  font-weight: bold;
}

.main .main__content--subhead {
  font-weight: normal;
}

div.grid-x.index {
  height: 100%;
}

#app {
  height: 100%;
}

.dashboard {
  height: 100%;
}

.courses {
  height: 100%;
}

div.courses__container {
  height: 80%;
  overflow: scroll;
  margin-bottom: auto;
}

div.course {
  padding: .5rem;
  margin-bottom: 1em;
}

div.course:hover {
  background: #f6f6f6;
  cursor: pointer;
}

.course__details span {
  font-size: .8rem;
}

i.course__icon {
  color: #a0a0a0;
  margin-right: .5em;
}

.course__text.course__text--name {
  font-weight: bold;
}

.course__text.course__text--meta {
  font-size: .75rem;
}

.course__form--button {
  background: #F27155;
  color: #fff;
  padding: .5em;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.course__form--button:hover {
  background: #ee4926;
  cursor: pointer;
}

.course__form--button--hollow {
  background: none;
  border: 1px solid black;
  color: black;
}

.course__form--button--hollow:hover {
  background: #d0d0d0;
}

.course__form--button--right {
  margin-left: auto;
}

.course__form--button--small {
  border-radius: 50%;
  font-size: .9rem;
  height: 2em;
  width: 2em;
}

.course__form--button--icon {
  margin-right: .5em;
}

.content {
  margin-left: 1em;
}

.content__meta--right {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

#content__meta--course-name {
  color: #F27155;
  font-style: italic;
}

#current-date {
  padding-bottom: .5em;
}

