// homepage

.main {
  padding: 1em;
  height: 80vh;

  .main__cell {
    height: 100%;
  }

  .main__content {
    font-weight: bold;
  }

  .main__content--subhead {
    font-weight: normal;
  }
}

// index

div.grid-x.index {
  height: 100%;
}

.courses {
  height: 100%;
}

.courses__header {
  margin-bottom: 1em;
}

div.courses__container {
  height: 80%;
  overflow: scroll;
  margin-bottom: auto;
}

div.course {
  border: 1px solid $theme-lightgray;
  padding: .5rem;
  margin-bottom: .5em;

  &:hover {
    border: 1px solid $theme-gray;
    cursor: pointer;
  }
}

.course__details {
  span {
    font-size: .8rem;
  }
}

i.course__icon {
  color: $theme-gray;
  margin-right: .5em;
}

.course__text {
  &.course__text--name {
    font-weight: bold;
  }
  &.course__text--meta {
    font-size: .75rem;
  }
}

.course__form--new_course {
  background: $theme-primary;
  color: #fff;
  margin-top: auto;
  padding: .5em;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  i {
    margin-right: .5em;
  }
  &:hover {
    background: darken($theme-primary, 10%);
    cursor: pointer;
  }
}

// content

.content {
  margin: 0 0 0 1em;
  padding: 1em;
}