// homepage

.main {
  padding: 1em;
  height: 80vh;

  .main__cell {
    height: 100%;
  }

  .main__content {
    font-weight: bold;
  }

  .main__content--subhead {
    font-weight: normal;
  }
}

// index

div.grid-x.index {
  height: 100%;
}

