// margin padding helpers
$spaces: (0, 1, 2); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaces {
  @each $side in $sides {
    .margin-#{$side}-#{$space} {
      margin-#{$side}: #{$space}em !important;
    }

    .padding-#{$side}-#{$space} {
      padding-#{$side}: #{$space}em !important;
    }
  }
}

$margins: (
        50: .5em,
        75: .75em,
        auto: auto
);

@each $key in map-keys($margins) {
  $margin: map-get($margins, $key);
  @each $side in $sides {
    .margin-#{$side}-#{$key} {
      margin-#{$side}: #{$margin} !important;
    }
  }
}

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

// grid helpers
.grid-y__center {
  padding: 1em 20%;

  @media (max-width: 640px) {
    padding: 1em;
  }
}

// layout helpers
.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

// typographic helpers
.small {
  font-size: 0.875rem;
}

// color helpers
.background-none {
  background: none !important;
}

.color-theme-primary {
  color: $theme-primary;
}

// animation

$delays: (
        500: 0.05,
        750: 0.075,
        10: 0.1,
        15: 0.15,
        25: 0.25,
        33: 0.33,
        50: 0.5,
        60: 0.66,
        75: 0.75,
        1: 1);

@each $key in map-keys($delays) {
  $delay: map-get($delays, $key);
  .animation-delay-#{$key} {
    animation-delay: #{$delay}s !important;
  }
}