#app {
  height: 100%;
}
.dashboard {
  height: 100%;
}

// courses sidebar

.courses {
  height: 100%;
}

div.courses__container {
  height: 80%;
  overflow: scroll;
  margin-bottom: auto;
}

div.course {
  //border: 1px solid $theme-lightgray;
  padding: .5rem;
  margin-bottom: 1em;

  &:hover {
    //border: 1px solid $theme-gray;
    background: lighten($theme-lightgray, 15%);
    cursor: pointer;
  }
}

.course__details {
  span {
    font-size: .8rem;
  }
}

i.course__icon {
  color: $theme-gray;
  margin-right: .5em;
}

.course__text {
  &.course__text--name {
    font-weight: bold;
  }
  &.course__text--meta {
    font-size: .75rem;
  }
}

.course__form--button {
  border: none;
  margin: 0;
  padding: .5em;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;

  &:hover {
    background: darken($theme-primary, 10%);
    cursor: pointer;
  }
}

.course__form--button--hollow {
  background: none;
  border: 1px solid black;
  color: black;

  &:hover {
    background: $theme-lightgray;
  }
}

.course__form--button--right {
  margin-left: auto;
}

.course__form--button--small {
  border-radius: 50%;
  font-size: .9rem;
  height: 2em;
  width: 2em;
}

.course__form--button--icon {
  margin-right: .5em;
}

// content

.content {
  margin-left: 1em;
}

.content__container {
  width: 100%;
}

.course-content__header {
  color: $theme-primary;
}

.course-content__right {
  align-content: flex-end;
}


#current-date {
  margin: 0;
}